.progressBar {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.small {
    height: 4px;
}

.medium {
    height: 8px;
}

.fill {
    height: 100%;
    background-color: #008060;
    transition: width 0.3s ease-in-out;
}
